
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.projectBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh; 
  /* width: 100%; */
  /* width: 100%;
  background-color: chartreuse;
  */
  /* height: 100vh; */
  font-family: 'Inter', sans-serif;
/* margin-top: 20px; */

}

.css-ong8cm{
  height: 4vh;
}
.css-lgk7oi{
  gap:0px;
}
.MuiAvatarGroup-root {
  justify-content: start;
}
.MuiTableCell-root {
  border-bottom: 1px solid #f2f6fc;
}
.div1 {
  width: 97%;
  margin: auto;
  height: 93%;
  margin-top: 5px;
  /* height: calc(100% - 60px); */
  position: relative;
  overflow: scroll;

  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(9, 0, 128, 0.08);
  border-radius: 8px 8px 0px 0px;
  font-family: 'Inter', sans-serif;
}

.myTable {
  position: absolute;
  background-color: #ffffff ;
  border-collapse: separate;

 
  
  
  /* height: 100%; */
}
.div1 table {
  border-spacing: 0;
}

.div1::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.div1::-webkit-scrollbar-thumb:hover {
  background-color: rgba(38, 96, 204, 0.567);
  cursor: grab;
}

.div1::-webkit-scrollbar-track:hover {
  background-color: rgb(213, 217, 245);
  cursor: grab;
}

.div1 th {
  border-left: none;
  padding: 10px 16px 10px 20px;
  

 
}
.div1 td {
  border-left: none;
  width: 80px;
  min-width: 80px;
  border: 2px solid red;
}



.div1 th:nth-child(1),
.div1 td:nth-child(1) {
  position: sticky;
  padding-right: 40px;
  left: 0;
  width: 150px;
  min-width: 150px;
  background-color: #ffffff;
  border-right: 1px solid #ebf0f5;
  /* border-right: 1px solid red; */
 
}

.div1 th:last-child,
.div1 td:last-child {
  position: sticky;
  right: 0px; 
  width: 10%;
  min-width: 50%;
  background-color: #ffffff;
  border-left: 1px solid #ebf0f5;
}

.div1 th:nth-child(1),
.div1 th:last-child {
  z-index: 20;
  background-color: #fff;
}

.custom-header {
  top: 0;
  left: 200;
  position: sticky;
  z-index: 30;
  
}


.tableRow {
  height: calc(6vh);
}

.responsive-logo {
  width: 110px; /* Default width for all screen sizes */

  @media (max-width: 1920px) {
    /* Large screens (xl) */
    width: 137px;
    height: 27px;
  }

  @media (max-width: 1360px) {
    /* Large screens (lg) */
    width: 121px;
    height: 24px;
  }

  @media (max-width: 960px) {
    /* Medium screens (md) */
    width: 100px;
    height: 24px;
  }

  /* Define more media queries for smaller screen sizes if needed */
}
.responsive-drawer {
    width: 110px; /* Default width for all screen sizes */
  
    @media (max-width: 1920px) {
      /* Large screens (xl) */
      width: 145px;
      height: 40px;
    }
  
    @media (max-width: 1360px) {
      /* Large screens (lg) */
      /* width: 121px; */
      height: 35px;
    }
  
    @media (max-width: 960px) {
      /* Medium screens (md) */
      /* width: 100px; */
      height: 35px;
    }
  
    /* Define more media queries for smaller screen sizes if needed */
  }

  .test{
    transition: all 1.3s ease-in-out;
  }