body {
  font-family: "Inter", sans-serif;
  margin:0;
  padding:0;
}

.rootChild {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mainBox {
  margin: 16px;
  overflow-y: auto;
  height: 100%;
}
.css-b8pm7-MuiStack-root>:not(style)~:not(style) {
  margin-top: 0px;
}


.MuiBackdrop-root-MuiModal-backdrop{
  background-color: "transparent"
}
/* TODO CHANGE THE CLASS NAME FUTURE*/
/* ROOT Box in a page  */
.content {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
}

.contentHeader{
    /* display: flex;
    flex-direction: column;
    height: 15%;
    align-items: center; */
       display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top: 1px solid #E6ECF5;
}
.notificationContentHeader{
    display: flex;
    /* flex-direction: column; */
    height: 15%;
    padding:0px 16px ;
    justify-content: space-between;
    align-items: center;
}

/* Toaster Start */


.error-toast-background{
  background-color: #F04438;
  
}
.success-progress-bar {
  background: #12B76A !important;

}

 .error-progress-bar {
  background: rgb(220, 6, 27) !important;
}

 .Toastify__progress-bar {
  color: yellow !important;
} 

/* .Toastify__toast-body { */
  .Toastify__toast-body  {
  background-color: #fff  ;
   padding: 20px !important;
   margin: 0 !important;
}
.Toastify__toast{
  background: url('images/checked.png'), rgba(221, 233, 221, 0.66);

  padding: 0 !important;
  margin-bottom: 10px !important;
  padding-bottom: 5px !important;
}

.Toastify__close-button {
  position: absolute !important;
  top:5px !important;
  right: 5px !important;
}
.Toastify__toast-icon {
  color: #12B76A !important;
  background-color: #12B76A !important;
}


/* Toaster End  */

/* Component  Header  */

.headerBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top: 1px solid #E6ECF5;
}
