body {
  font-family: "Inter", sans-serif;
  margin:0;
  padding:0;
}

.rootChild {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mainBox {
  margin: 16px;
  overflow-y: auto;
  height: 100%;
}
.css-b8pm7-MuiStack-root>:not(style)~:not(style) {
  margin-top: 0px;
}


.MuiBackdrop-root-MuiModal-backdrop{
  background-color: "transparent"
}
 /* TODO CHANGE THE CLASS NAME FUTURE*/
.content {
display: flex;
  flex-direction: column;
  height: 100%;
}

.contentHeader{
    display: flex;
    flex-direction: column;
    height: 15%;
    align-items: center;
}
.notificationContentHeader{
    display: flex;
    /* flex-direction: column; */
    height: 15%;
    padding:0px 16px ;
    justify-content: space-between;
    align-items: center;
}

.success-toast-background{
  background-color: #12B76A;
}

.error-toast-background{
  background-color: #F04438;

}
.success-progress-bar {
  background: rgb(30, 221, 30) !important;
}

.error-progress-bar {
  background: rgb(220, 6, 27) !important;
}

/* .Toastify__progress-bar-theme--light{
  background-color: yellow !important;
  
} */
