
/* body{
    scroll-behavior: smooth;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
} */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}
.tableColumn1st{
    cursor: pointer;
    
}
.common-head{
    border-bottom: 2px solid #F2F6FC;
    position: sticky;
    top: 0;
    z-index: 1;
}
.tableHeader, .tableBody{
    cursor :default;
 
  
}
.thead{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* First left cell header */
.first-head {
    border-right: 1px solid #EBF0F5;
    border-bottom: 2px solid #F2F6FC;
    position: sticky;
    top: 0;
    left :0;
    padding-left: auto;
    /* padding: 0; */
    /* margin: 0; */
    z-index: 2;
    
}

/* Last right cell header */
.last-head {
    border-left: 1px solid #EBF0F5;
    position: sticky;
    top: 0;
    right :0;
    z-index: 233;
}

.doccolhead{
    border-left: 1px solid #EBF0F5;
    position: sticky;
    top: 0;
    right :140px;
    /* background-color: aqua; */
    z-index: 231;
}

/* table left column */
tbody td:first-child {
    border-right: 1px solid #EBF0F5;
    position: sticky;
    left: 0;
}

/* table right column */
tbody td:last-child {
    border-left: 1px solid #EBF0F5;
    position: sticky;
    right: 0;
}

.docrow {
    border-left: 1px solid #EBF0F5;
    position: sticky;
    right :140px;
    font-size: 10px;
}

/* individual table td */
table td {
    border-bottom: 1px solid #F2F6FC;
    padding: 0;
    min-width: 100px;
}


.tableContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /* background-color: rgb(255, 255, 255);  */
  background-color: transparent; 
  /* cursor: grab; */
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(69, 88, 123, 0.567);
  cursor: grab;
}

.tableContainer::-webkit-scrollbar-track:hover {
  background-color: rgb(255, 255, 255);
  cursor: grab;
}

::-webkit-scrollbar-corner {
    background-color: transparent; /* Corner color */
}