table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

.common-head{
    border-bottom: 2px solid #F2F6FC;
    position: sticky;
    top: 0;
    z-index: 1;
}

.thead{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* First left cell header */
.first-head {
    border-right: 1px solid #EBF0F5;
    border-bottom: 2px solid #F2F6FC;
    position: sticky;
    top: 0;
    left :0;
    padding-left: auto;
    /* padding: 0; */
    /* margin: 0; */
    z-index: 2;
    
}

/* Last right cell header */
.last-head {
    border-left: 1px solid #EBF0F5;
    position: sticky;
    top: 0;
    right :0;
    z-index: 233;
}

/* table left column */
tbody td:first-child {
    border-right: 1px solid #EBF0F5;
    position: sticky;
    left: 0;
}

/* table right column */
tbody td:last-child {
    border-left: 1px solid #EBF0F5;
    position: sticky;
    right: 0;
}

/* individual table td */
table td {
    border-bottom: 1px solid #F2F6FC;
    padding: 0;
    min-width: 100px;
}
